<a href="https://colab.research.google.com/github/irfangirindra/shopee-code-league/blob/master/order_brushing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import library

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/content/drive/My Drive/Google Drive/Shopee Challenge #2/order_brush_order.csv')

In [3]:
df

               orderid     shopid     userid           event_time
0       31076582227611   93950878   30530270  2019-12-27 00:23:03
1       31118059853484  156423439   46057927  2019-12-27 11:54:20
2       31123355095755  173699291   67341739  2019-12-27 13:22:35
3       31122059872723   63674025  149380322  2019-12-27 13:01:00
4       31117075665123  127249066  149493217  2019-12-27 11:37:55
...                ...        ...        ...                  ...
222745  31245479170194  110868129  193218997  2019-12-28 23:17:59
222746  31230440360374   91639906    3541807  2019-12-28 19:07:20
222747  31191471145838   29391773  135908070  2019-12-28 08:17:52
222748  31198471732255   61556313   27306783  2019-12-28 10:14:31
222749  31164356713822  147941492  127484153  2019-12-28 00:45:56

[222750 rows x 4 columns]

In [4]:
df_bytime = df.sort_values(by=['event_time'])

In [5]:
df_bytime

               orderid     shopid     userid           event_time
150060  31075200506751    6042309   97707522  2019-12-27 00:00:00
25985   31075200506752  104804492   97707522  2019-12-27 00:00:00
81020   31075200506753    8715449   97707522  2019-12-27 00:00:00
146598  31075201870570  190969466  170182475  2019-12-27 00:00:02
80355   31075205798264    2859407   12532131  2019-12-27 00:00:05
...                ...        ...        ...                  ...
114113  31507183252446  149254894  193333760  2019-12-31 23:59:43
206585  31507187390691  147941492   40258063  2019-12-31 23:59:47
126212  31507191066628  187123853    2338306  2019-12-31 23:59:51
160657  31507191066627  154074176    2338306  2019-12-31 23:59:51
179881  31507196146800   31844790   95161930  2019-12-31 23:59:56

[222750 rows x 4 columns]

In [6]:
time_index = df_bytime.set_index(['event_time'])

In [7]:
time_index

                            orderid     shopid     userid
event_time
2019-12-27 00:00:00  31075200506751    6042309   97707522
2019-12-27 00:00:00  31075200506752  104804492   97707522
2019-12-27 00:00:00  31075200506753    8715449   97707522
2019-12-27 00:00:02  31075201870570  190969466  170182475
2019-12-27 00:00:05  31075205798264    2859407   12532131
...                             ...        ...        ...
2019-12-31 23:59:43  31507183252446  149254894  193333760
2019-12-31 23:59:47  31507187390691  147941492   40258063
2019-12-31 23:59:51  31507191066628  187123853    2338306
2019-12-31 23:59:51  31507191066627  154074176    2338306
2019-12-31 23:59:56  31507196146800   31844790   95161930

[222750 rows x 3 columns]

In [8]:
time_start = pd.to_datetime(df_bytime.event_time.unique())

In [9]:
time_start

DatetimeIndex(['2019-12-27 00:00:00', '2019-12-27 00:00:02',
               '2019-12-27 00:00:05', '2019-12-27 00:00:08',
               '2019-12-27 00:00:11', '2019-12-27 00:00:12',
               '2019-12-27 00:00:16', '2019-12-27 00:00:18',
               '2019-12-27 00:00:23', '2019-12-27 00:00:24',
               ...
               '2019-12-31 23:59:30', '2019-12-31 23:59:32',
               '2019-12-31 23:59:38', '2019-12-31 23:59:39',
               '2019-12-31 23:59:41', '2019-12-31 23:59:42',
               '2019-12-31 23:59:43', '2019-12-31 23:59:47',
               '2019-12-31 23:59:51', '2019-12-31 23:59:56'],
              dtype='datetime64[ns]', length=121064, freq=None)

In [10]:
time_end = time_start + pd.Timedelta(hours=1)

In [11]:
time_end

DatetimeIndex(['2019-12-27 01:00:00', '2019-12-27 01:00:02',
               '2019-12-27 01:00:05', '2019-12-27 01:00:08',
               '2019-12-27 01:00:11', '2019-12-27 01:00:12',
               '2019-12-27 01:00:16', '2019-12-27 01:00:18',
               '2019-12-27 01:00:23', '2019-12-27 01:00:24',
               ...
               '2020-01-01 00:59:30', '2020-01-01 00:59:32',
               '2020-01-01 00:59:38', '2020-01-01 00:59:39',
               '2020-01-01 00:59:41', '2020-01-01 00:59:42',
               '2020-01-01 00:59:43', '2020-01-01 00:59:47',
               '2020-01-01 00:59:51', '2020-01-01 00:59:56'],
              dtype='datetime64[ns]', length=121064, freq=None)

In [15]:
shop=[]
user=[]
for i in range(len(time_start)):
  time_cut = time_index[str(time_start[i]):str(time_end[i])]
  time_cut_group = time_cut.groupby('shopid').nunique()
  time_cut_group['con']=time_cut_group['orderid']/time_cut_group['userid']
  time_cut_group=time_cut_group.drop(time_cut_group[time_cut_group['con']<3].index)
  shop_scam = time_cut_group.index.values
  if len(shop_scam) != 0:
    for j in shop_scam:
      if j not in shop:
        get_userid = time_cut[time_cut['shopid']== j]['userid'].unique()
        get_combine_userid = '&'.join(str(k) for k in get_userid)
        shop.append(j)
        user.append(get_combine_userid)

In [24]:
order_brushing = pd.DataFrame( {'shopid': shop, 'userid': user })

In [25]:
order_brushing

        shopid     userid
0    141025402     613919
1    181009364  214208720
2     63888299  112649507
3      9374147  148176353
4    192608876  213646699
..         ...        ...
310  130665582  141499072
311   93295101   39834931
312    9153340  197569856
313  189544563     799445
314   96757644  215243653

[315 rows x 2 columns]

In [32]:
submission2 = pd.DataFrame({'shopid':df.shopid.unique()})

In [33]:
submission2

          shopid
0       93950878
1      156423439
2      173699291
3       63674025
4      127249066
...          ...
18765  163337224
18766     772599
18767   50236030
18768  203587596
18769  147118226

[18770 rows x 1 columns]

In [37]:
submission_final = submission2.join(order_brushing.set_index('shopid'), on='shopid').fillna("0")

In [41]:
submission_final

          shopid userid
0       93950878      0
1      156423439      0
2      173699291      0
3       63674025      0
4      127249066      0
...          ...    ...
18765  163337224      0
18766     772599      0
18767   50236030      0
18768  203587596      0
18769  147118226      0

[18770 rows x 2 columns]

In [40]:
submission_final.to_csv('submission.csv')